<!--div class="attachment">
    <p>
      <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
      <a href="#">Download all attachments</a> |
      <a href="#">View all images</a>
    </p>
    <ul>
      <li>
        <a href="#" class="atch-thumb">
          <img src="images/1.png" alt="img" />
        </a>

        <div class="file-name">
          image-name.jpg
        </div>
        <span>12KB</span>


        <div class="links">
          <a href="#">View</a> -
          <a href="#">Download</a>
        </div>
      </li>

    </ul>
</div-->