        <!-- footer content -->
        <footer>
            <div class="pull-right">
                TRAGU Tools by chocokiko aka "Estela Gatita-Nina"<br/>
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->